{% extends "base.html" %}

{% block title %}
    Customer
{% endblock %}


{% block body %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=more_vert" />

<div class='container'>
	<h1>Customer</h1>

	<div class="row">
		<div class="col-10">
			
		</div>
		<div class="col-2 text-end">
			<a class="btn btn-primary mb-4" href="{% url 'add_customer' %}">+New</a>
			<a class="btn btn-light mb-4" href=""><span class="material-symbols-outlined">more_vert</span></a>
		</div>
	</div>

	<div class="row">
		<div class="col">
		<table class="table table-striped-columns align-middle">
			<thead class="table-success">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Company Name</th>
					<th scope="col">Place of Supply</th>
					<th scope="col">Contact</th>
					<th scope="col">GSTIN</th>
					<th scope="col">Closing Balance</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
					<tr>
						<td>
							<div class="form-check">
								<a href="{{customer.cust_id}}">
									<input class="form-check-input" type="button" value="" id="flexCheckDefault">
								</a>
							</div>
						</td>
						<td>
							<!-- {{customer.customer}} -->
							<a type="submit" href="{{customer.cust_id}}">{{customer.name}}</a>
						</td>
						<td>{{customer.company_name}}</td>
						<td>{{customer.email}}</td>
						<td>{{customer.contact}}</td>
						<td>{{customer.gstin}}</td>
						<td>{{customer.closing_balance}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>


</div>    
{% endblock %}