{% extends "base.html" %}
{% load static %}

{% block title %}
Estimate
{% endblock %}

{% block body %}
{{data}}
<div class="container border border-secondary border-3">
	<div class="border border-secondary border-1 mt-2">
		<div class="row mx-2 my-2">
			<div class="col-2">
				<img src="{% static 'img/logo.jpg' %}" alt="company_logo" height="128px">
			</div>
			<div class="col-6">
				<div><label class="fs-5"><strong>{{company_details.company_name}}</strong></label></div>
				<div><label>{{company_details.address}}, {{company_details.city}}</label></div>
				<div><label>Ph.: {{company_details.contact}}</label></div>
				<div><label>Email: {{company_details.email}}</label></div>
				<div class="align-text-bottom mt-1" id="company_gstin"><label class="fs-6">GSTIN {{company_details.gstin|upper}}</label></div>
			</div>
			<div class="col-4 text-end">
				<label class="fs-2 fw-semibold">ESTIMATE</label>
			</div>
		</div>
	</div>
	
	<table class="table table-bordered mt-3">
		<tbody>
			<tr class="row mx-3">
				<td class="col">Bill To : <strong>{{ customer }}</strong></td>
				<td class="col">Estimate No. : <strong>{{ jobno }}</strong></td>
			</tr>
			<tr class="row mx-3">
				<td class="col">Contact No. : <strong>{{ contact }}</strong></td>
				<td class="col">Date : <strong>{{ job_date }}</strong></td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered mt-3">
		<thead class="">
			<tr class="row mx-3">
				<th scope="col" class="col-1 text-center">#</th>
				<th scope="col" class="col-6 text-start">Item & Description</th>
				<th scope="col" class="col-1 text-end">Qty</th>
				<th scope="col" class="col-1 text-end">Rate</th>
				<th scope="col" class="col-1">Tax</th>
				<th scope="col" class="col-2 text-end">Amount</th>
			</tr>
		</thead>
		<tbody>
			{% for line in order %}
			<tr class="row mx-3">
				<td class="col-1">{{forloop.index}}</td>
				<td class="col-6">
					<!-- <strong>{{line.0}}</strong><br>{{line.1}}</td> -->
					<strong>{{line.0}}</strong>
					<div class="text-black-50">{{line.1}}</div>
				</td>
				<td class="col-1">{{line.2}}</td>
				<td class="col-1">{{line.3}}</td>
				<td class="col-1">{{line.4}}</td>
				<td class="col-2">{{line.5}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row">
		<div class="col-9"></div>
		<div class="col card">
			<table class="table table-striped mt-3">
				<tbody>
					<tr>
						<td class="text-end">Sub Total</td>
						<td class="text-end">{{ subtotal }}</td>
					</tr>
					<tr>
						<td class="text-end">Total</td>
						<td class="text-end">{{ total }}</td>
						
					</tr>
				</tbody>
			</table>

			<!-- <div class="row">
			<div class="col text-start"></div>
			<div class="col text-end"></div> -->
		</div>
		</div>
	</div>

</div>

{% endblock %}


