{% extends "base.html" %}

{% block title %}
    Product
{% endblock %}


{% block body %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=more_vert" />
<div class='container'>
	<h1>Items</h1>
	<div class="row">
		<div class="col-10">
			
		</div>
		<div class="col-2 text-end">
			<a class="btn btn-primary mb-4" href="{% url 'add_product' %}">+New</a>
			<a class="btn btn-light mb-4" href=""><span class="material-symbols-outlined">more_vert</span></a>
		</div>
	</div>

	<div class="row">
		<div class="col">
		<table class="table table-striped-columns align-middle">
			<thead class="table-success">
				<tr>			
					<th scope="col-2">Name</th>
					<th scope="col-3">Product Description</th>
					<th scope="col-1">Usage Unit</th>
					{% comment %} <th scope="col-3">Purchase Price</th> {% endcomment %}
					<th scope="col-3">Rate</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>
							<a type="submit" href="{{product.id}}">{{product.name}}</a>
						</td>
						<td>-</td>
						<td>{{product.unit}}</td>
						{% comment %} <td>{{product.purchase_rate}}</td> {% endcomment %}
						<td>{{product.selling_rate}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>



	<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button> -->
<!-- 
	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
	<div class="offcanvas-header">
		<div>
		<h5 class="offcanvas-title" id="offcanvasTopLabel">Products</h5>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<table class="table table-striped-columns align-middle">
			<thead class="table-success">
			<tr>
				<th scope="col">Item Name</th>
			</tr>
			</thead>
			<tbody>
				{% for product in products %}
				<tr>
					<td><a href="{% url 'product' %}">{{product.prod_name}}</a></td>
				</tr>
				{% endfor %}
			</tbody>
	</div>
	</div> -->
</div>    
{% endblock %}